<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Boilerplate -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap 4 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Custom CSS and JS -->
    <link rel="stylesheet" href="css/style.css">
    
    <title>What are you going to accomplish today?</title>
</head>
<body>
<ul class="slideshow">   
    <% for (var i = 0; i < unsplashData.photoURLs.length; i++) { %>
        <li style="background-image: url(<%= unsplashData.photoURLs[i] %>)"></li>
        <!-- Set the color to match the picture being used but its too soon for jQuery and document is undefined-->
        <!-- document.getElementById("vText").style.color=unsplashData.oppColor[i]; -->
    <% }; %>

</ul>
    <!-- Welcome Container -->
    <div class="d-flex flex-wrap w-100 h-100 p-3 justify-content-start welcome">
        <!-- Welcome Text -->
        <div class="w-100 align-self-center">
            <h1 class="display-2 vText" id="welcome-message"></h1>
            <p class="lead align-self-center vText" id="support-message">What will you create today?</p>
        </div>
    </div>
    <!-- Status Container -->
    <div class="d-flex w-100 p-3 justify-content-between status">
        <!-- Time -->
        <h1 class="display-4 align-self-end vText" id="time"></h1>
        <!-- Weather -->
        <div class="align-self-end text-right" id="temp">
            <p class="mb-0 vText">Houston's <%= condition.text %></p>
            <h1 class="mb-0 display-4 temp vText"><%= condition.temp %>&deg;C</h1>
            <a href="https://www.yahoo.com/?ilc=401" target="_blank"> <img src="https://poweredby.yahoo.com/purple.png" width="134" height="29"/> </a>
        </div>
    </div>
    <!-- Unsplash Credit -->
    <div class="d-flex flex-row-reverse w-100 credit">
        <ul class="creditText">
            <% for (var i = 0; i < unsplashData.photoURLs.length; i++) { %>
            <li><a href="<%= unsplashData.userLink[i] %>" class="badge badge-dark">
                Photo by <%= unsplashData.name[i] %> on Unsplash
            </a></li>
            <% }; %>
        </ul>
    </div>
    
    
    <!-- Bootstrap Dependencies -->
    <script  src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Your script files -->
    <script src="/js/clock.js"></script>
   
</body>
</html>