<%- include views/partials/header %>

<!-- Background Image Slideshow -->
    <ul class="slideshow">  
        <% if (unsplashData.photoURLs.length < 2) { %><!-- Code if photo api did not load -->
            <li style="background-image: url(<%= unsplashData.photoURLs[0] %>);
                        animation: singleImage 5s linear;
                        opacity: 1;"></li>
        <% } else { %>
    
        <% for (var i = 0; i < unsplashData.photoURLs.length; i++) { %>
            <li style="background-image: url(<%= unsplashData.photoURLs[i] %>)">
                <div class="invisible" style="color: %= unsplashData.orgColor[i] %>;"></div>
                <div class="invisible2" style="color: <%= unsplashData.oppColor[i] %>;"></div>
            </li>
            <!-- Set the color to match the picture being used but its too soon for jQuery and document is undefined-->
            <!-- document.getElementById("cText").style.color=unsplashData.oppColor[i]; -->
        <% }; %>

        <% } %>

    </ul>
    <!-- Welcome Container -->
    <div class="d-flex flex-wrap w-100 h-100 justify-content-start welcome">
        <!-- Welcome Text -->
        <div class="align-self-center welcomeShade p-3">
            <h1 class="display-2 tColRot" id="welcome-message"></h1>
            <blockquote class="blockquote">
                <div class="quote-message tColRot"><%- quote.text %></div>
                <footer class="blockquote-footer tColRot"><cite title="Source Title"><%= quote.author %></cite></footer>
            <blockquote>
            <!-- <p class="lead align-self-center cText" id="support-message">What will you create today?</p> -->
        </div>
    </div>
    <!-- Status Container -->
    <div class="d-flex w-100 p-0 justify-content-between align-items-end status">
        <!-- Time -->
        <div class="align-self-end cText backgroundShade p-2 pl-3 mb-3" id="dateTime">
            <h1 class="display-4 mb-0 lineHH1" id="time"></h1>
            <p id="date" class="mb-0"></p>
        </div>

        <!-- Link Icon List -->
        <ul class="backgroundShade mb-0 linkList">
            <li><a href="https://google.com"><i class="fab fa-google"></i></a></li>
            <li><a href="https://udemy.com"><i class="fas fa-user-graduate"></i></a></li>
            <li><a href="https://web.whatsapp.com/"><i class="fab fa-whatsapp"></i></a></li>
            <li><a href="https://youtube.com"><i class="fab fa-youtube"></i></a></li>
            <li><a href="https://reddit.com"><i class="fab fa-reddit-alien"></i></a></li>

        </ul>
        <!-- Weather -->
        <div class="align-self-end text-right backgroundShade p-2 pr-3 mb-3" id="temp">
            <p class="mb-0 cText" id="statusText"><%= condition.city %>'s <%= condition.text %></p> 
            <h1 class="mb-0 display-4 cText lineHH1"><%= condition.temp %>&deg;C</h1>
            <% if (condition.text != "Room Temperature") { %>
                <a href="https://darksky.net/poweredby/" target="_blank"> 
                <img src="https://darksky.net/dev/img/attribution/poweredby-darkbackground.png" style="height: 30px; width: auto;"/> </a>
            <% } %>
        </div>
    </div>
    <!-- Unsplash Credit -->
    <div class="d-flex flex-row-reverse w-100 credit">
        <ul class="creditText">
            <% if (unsplashData.name.length < 2) { %> <!-- Code if photo api did not load -->
                <li style="top: 0; animation: singleMessage 1s ease-in;"><a href="<%= unsplashData.userLink[0] %>" class="badge badge-dark " target="_blank">
                Photo by <%= unsplashData.name[0] %> on Unsplash
                </a></li>
            <% } else { %>

            <% for (var i = 0; i < unsplashData.name.length; i++) { %>
            <li><a href="<%= unsplashData.userLink[i] %>" class="badge badge-dark" target="_blank">
                Photo by <%= unsplashData.name[i] %> on Unsplash
            </a></li>
            <% }; %>
            <% } %>
        </ul>
    </div>
    
    
    <!-- Bootstrap Dependencies -->
    <script  src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Your script files -->
    <script src="/js/clock.js"></script>
    <script src="/js/backgroundImage.js"></script>
   
</body>
</html>